.friends-search-container {
  width: 100%;
  position: relative;
}

.friends-search {
  border: 1px solid var(--black);
  border-radius: 10px;
  width: 100%;
  padding: 10px 20px;
}

.friends-search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.friends-results {
  padding-top: 10px;
  width: 100%;
}
