.groups-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.groups-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.groups-name-label {
  text-wrap: nowrap;
}

.groups-name-input {
  padding: 10px 20px;
  border: 1px solid var(--black);
  border-radius: 10px;
  width: 100%;
}

.groups-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
