.transaction-date {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2px;
  margin-top: 10px;
}

.transactions-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.icon-container {
  display: flex;
  width: 20%;
  align-items: center;
  align-content: space-between;
  flex-direction: row;
  justify-content: space-around;
}

.transaction-trans {
  width: 1000%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 20px;
}

.transaction-amount{
  display: flex;
  text-wrap: balance;
  align-items: center;
  gap: 15px;
  width: 100%;
  color: red;
  justify-content: flex-end;
  margin-right: 20px;
}