:root {
  font-family: "Ubuntu";

  /* Variables */
  /* Colors */
  --black: #000000;
  --white: #ffffff;
  --grey: #e9e9e9;
  --blue: #5d60ef;
  --red: #fd3f41;

  /* Fonts */
  --font-size-xsmall: 12px;
  --font-height-xsmall: 14px;
  --font-size-small: 14px;
  --font-height-small: 16px;
  --font-size-medium: 16px;
  --font-height-medium: 18px;
  --font-size-large: 18px;
  --font-height-large: 20px;
  --font-size-xlarge: 20px;
  --font-height-xlarge: 22px;
  --font-size-h1: 48px;
  --font-height-h1: "auto";
  --font-size-h2: 36px;
  --font-height-h2: "auto";
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

/* Fonts  */
.body-xsmall {
  font-size: var(--font-size-xsmall);
  line-height: var(--font-height-xsmall);
}
.body-small {
  font-size: var(--font-size-small);
  line-height: var(--font-height-small);
}
.body-regular {
  font-size: var(--font-size-regular);
  line-height: var(--font-height-regular);
}
.body-large {
  font-size: var(--font-size-large);
  line-height: var(--font-height-large);
}
.body-xlarge {
  font-size: var(--font-size-xlarge);
  line-height: var(--font-height-xlarge);
}
.header-h1 {
  font-size: var(--font-size-h1);
  line-height: var(--font-height-h1);
}
.header-h2 {
  font-size: var(--font-size-h2);
  line-height: var(--font-height-h2);
}
.font-regular {
  font-weight: var(--font-weight-regular);
}
.font-medium {
  font-weight: var(--font-weight-medium);
}
.font-bold {
  font-weight: var(--font-weight-bold);
}

/* App */
.App {
  text-align: center;
}

/* Header Nav Bar ✨*/
.Main-header {
  @apply bg-customPurple;
  width: 100vw;
}

.TopNav-header {
  @apply flex items-center justify-between
   mx-auto
    text-base 
    h-24 
    sm:text-lg lg:text-xl;
  width: 90vw;
}

.Header-text {
  @apply text-white flex-shrink-0 font-extrabold text-2xl font-semibold leading-tight whitespace-nowrap;
  margin: 0rem 5rem;
}

.Display-container {
  @apply flex flex-row items-center justify-around w-full 
  mx-auto;
  height: 80vh;
  width: 80vw;
  margin-top: 1rem;
}

/* Vertical Nav Bar ✨*/
.Nav-bar {
  height: 100%;
  flex: 0.5;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.Nav-button {
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  font-weight: 600;
  background-color: var(--white);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
  margin-bottom: 0.2rem;
  transition: background-color 0.3s ease;
}

.Nav-button:hover {
  background-color: var(--grey);
}

.Nav-button.active {
  background-color: var(--grey);
}

/* Buttons  */
.blue-btn {
  background-color: var(--blue);
  color: var(--white);
  width: 100%;
  padding: 16px 8px;
  border-radius: 10px;
  margin-top: 5px;
}

.blue-btn:hover {
  cursor: pointer;
}

.white-btn {
  background-color: var(--white);
  color: var(--blue);
  width: 100%;
  padding: 16px 8px;
  border-radius: 10px;
  border: 1px solid var(--blue);
}

.white-btn:hover {
  cursor: pointer;
}

/* .deleteTransactionButton {
  background-color: var(--red);
  color: var(--white);
  width: 10%;
  padding: 5px 2px;
  border-radius: 10px;
} */

.addCategoryButton {
  background-color: var(--blue);
  color: var(--white);
  width: 45%;
  height: 100%;
  padding: 5px 2px;
  border-radius: 10px;
  float: left;
}

.deleteCategoryButton {
  background-color: var(--red);
  color: var(--white);
  width: 45%;
  height: 100%;
  padding: 5px 2px;
  border-radius: 10px;
  float: right;
}

/*Success/ Error Message*/

.successMessage{
  margin: auto;
  color: rgb(4, 102, 4);
}

.errorMessage{
  margin: auto;
  color: var(--red)
}

/* Content Area ✨ */
.Content-area {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  padding: 0rem 1rem;
  box-sizing: border-box;
  flex: 4.5;
  display: flex;
  flex-direction: column;
}

.Content-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: left;
}

/* Section */
.section-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 40px;
}

.section-header {
  padding-bottom: 15px;
}

/* Friends */
.friends-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 100%;
}

.friend-container {
  display: flex;
  background: var(--grey);
  border-radius: 10px;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
}

/*Dashboard*/

.dashboard-container {
  display: flex;
  flex-direction: column;
}

.graph-container {
  display: flex;
  height: 57vh;
  @apply mx-auto;
}

.bar-chartContainer {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.6rem;
}

.bar {
  width: 1.625rem;
  background-color: var(--blue);
  transition: height 0.5s;
  margin: 0 0.6rem;
  border-radius: 25px;
  @apply mx-auto;
}

.dashboard-null {
  font-size: 1.5rem; 
  color: #999; 
  text-align: center; 
  margin-top: 10rem;
}

/*Dashboard headers and <> buttons*/
.dashboardHeaderButtonsContainer{
  display: flex;
  align-content: space-between;
  top: 114px;
  position: fixed;
  width: 500px;
  height: 20px;
  left: 652px;
}

.dashboard-header {
  @apply mx-auto;
  text-decoration: underline;
  font-weight: 600;
  margin-top:3px;
}

.dashboard-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 600; 
  color: #777; 
  cursor: pointer;
}

.dashboard-button:hover {
  color: #444;
} 

.dashboard-button.left {
  transform: rotate(180deg);
}

/* Bar chart days/month/year */
.bar-chartValue {
  font-weight: 600;
  margin: 0 0.4rem;
}

.bar-filterContainer {
  display: flex;
  gap: 0.6rem;
  margin-top: 1.6rem;
  @apply mx-auto;
}

.bar-filterButton {
  padding: 0.25rem 1.65rem;
  border-radius: 20px;
  background-color: var(--grey);
  font-weight: 600;
  border: none;
  transition: background-color 0.3s ease;
}

.bar-filterButton.active {
  background-color: var(--blue);
  color: var(--white);
}

.bar-filterButton:hover {
  background-color: var(--blue);
  color: var(--white);
}

/* SearchFriends */
.friends-search-container {
  width: 100%;
  position: relative;
}

.friends-search {
  border: 1px solid var(--black);
  border-radius: 10px;
  width: 100%;
  padding: 10px 20px;
}

.friends-search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.friends-results {
  padding-top: 10px;
  width: 100%;
}

/* GroupsView */
.groups-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  width: 100%;
}

.group-container {
  display: flex;
  background: var(--grey);
  border-radius: 10px;
  padding: 20px 40px;
  align-items: center;
  text-wrap: wrap;
  text-align: left;
  width: 100%;
}

/* Category*/
.addCategoryInput {
  border: 1px solid var(--grey);
  border-radius: 0.375rem; 
  padding: 0.25rem 0.5rem;
  outline: none; 
  width: 172px;
  margin-right: 10px;
}

.addCategoryInput:focus {
  border-color: var(--blue); 
}


/* TransactionsView */
.transactions-container {
  display: flex;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  width: 100%;
  flex-direction: column;
  align-items:center;
}

.transaction-container { /*Grey flex box*/
  display: flex;
  background: var(--grey);
  border-radius: 10px;
  padding: 20px 40px;
  align-items: center;
  text-wrap: wrap;
  text-align: left;
  width: 100%;
  
}
.icon-box { /*Cookie icon square css*/
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(107, 45, 239, 0.499);
  background-color: rgba(107, 45, 239, 0.499);
  border-radius: 20%;
  width: 50px;
  height: 50px;
}

.trans-icons { /*Cookie icon*/
  display: flex;
  justify-content: flex-start;
  font-size: 24px; /* Adjust icon */
  color: white; /* White icon color */
}