:root {
  font-family: "Ubuntu";

  /* Variables */
  /* Colors */
  --black: #000000;
  --white: #ffffff;
  --grey: #e9e9e9;
  --blue: #5d60ef;
  --red: #fd3f41;

  /* Fonts */
  --font-size-xsmall: 12px;
  --font-height-xsmall: 14px;
  --font-size-small: 14px;
  --font-height-small: 16px;
  --font-size-medium: 16px;
  --font-height-medium: 18px;
  --font-size-large: 18px;
  --font-height-large: 20px;
  --font-size-xlarge: 20px;
  --font-height-xlarge: 22px;
  --font-size-h1: 48px;
  --font-height-h1: "auto";
  --font-size-h2: 36px;
  --font-height-h2: "auto";
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

/* Fonts  */
.body-xsmall {
  font-size: var(--font-size-xsmall);
  line-height: var(--font-height-xsmall);
}
.body-small {
  font-size: var(--font-size-small);
  line-height: var(--font-height-small);
}
.body-regular {
  font-size: var(--font-size-regular);
  line-height: var(--font-height-regular);
}
.body-large {
  font-size: var(--font-size-large);
  line-height: var(--font-height-large);
}
.body-xlarge {
  font-size: var(--font-size-xlarge);
  line-height: var(--font-height-xlarge);
}
.header-h1 {
  font-size: var(--font-size-h1);
  line-height: var(--font-height-h1);
}
.header-h2 {
  font-size: var(--font-size-h2);
  line-height: var(--font-height-h2);
}
.font-regular {
  font-weight: var(--font-weight-regular);
}
.font-medium {
  font-weight: var(--font-weight-medium);
}
.font-bold {
  font-weight: var(--font-weight-bold);
}

/* App */
.App {
  text-align: center;
}

/* Header Nav Bar ✨*/
.Main-header {
  @apply bg-customPurple;
  width: 100vw;
}

.TopNav-header {
  @apply flex items-center justify-between
   mx-auto
    text-base 
    h-24 
    sm:text-lg lg:text-xl;
  width: 90vw;
}

.Header-text {
  @apply text-white flex-shrink-0 font-extrabold text-2xl font-semibold leading-tight whitespace-nowrap;
  margin: 0rem 5rem;
}

.Display-container {
  @apply flex flex-row items-center justify-around w-full 
  mx-auto;
  height: 80vh;
  width: 80vw;
  margin-top: 1rem;
}

/* Vertical Nav Bar ✨*/
.Nav-bar {
  height: 100%;
  flex: 0.5;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.Nav-button {
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  font-weight: 600;
  background-color: var(--white);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
  margin-bottom: 0.2rem;
  transition: background-color 0.3s ease;
}

.Nav-button:hover {
  background-color: var(--grey);
}

.Nav-button.active {
  background-color: var(--grey);
}

/* Buttons  */
.blue-btn {
  background-color: var(--blue);
  color: var(--white);
  width: 100%;
  padding: 16px 8px;
  border-radius: 10px;
}

.blue-btn:hover {
  cursor: pointer;
}

.white-btn {
  background-color: var(--white);
  color: var(--blue);
  width: 100%;
  padding: 16px 8px;
  border-radius: 10px;
  border: 1px solid var(--blue);
}

.white-btn:hover {
  cursor: pointer;
}

/* Content Area ✨ */
.Content-area {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  padding: 0rem 1rem;
  box-sizing: border-box;
  flex: 4.5;
  display: flex;
  flex-direction: column;
}

.Content-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: left;
}

/* Section */
.section-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 40px;
}

.section-header {
  padding-bottom: 15px;
}

/* Friends */
.friends-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 100%;
}

.friend-container {
  display: flex;
  background: var(--grey);
  border-radius: 10px;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
}

/*Dashboard*/
.dashboard-container {
  display: flex;
  flex-direction: column;
}

.graph-container {
  display: flex;
  height: 57vh;
  @apply mx-auto;
}

.bar-chartContainer {
  display: flex;
  flex-direction: column;
}

.bar {
  width: 50px;
  background-color: #3498db;
  transition: height 0.5s;
  margin: 0 0.4rem;
}

/* SearchFriends */
.friends-search-container {
  width: 100%;
  position: relative;
}

.friends-search {
  border: 1px solid var(--black);
  border-radius: 10px;
  width: 100%;
  padding: 10px 20px;
}

.friends-search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.friends-results {
  padding-top: 10px;
  width: 100%;
}

/* GroupsView */
.groups-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  width: 100%;
}

.group-container {
  display: flex;
  background: var(--grey);
  border-radius: 10px;
  padding: 20px 40px;
  align-items: center;
  text-wrap: wrap;
  text-align: left;
  width: 100%;
}
