.App {
  text-align: center;
}

.App-header {
  @apply flex items-center justify-around
    text-base sm:text-lg lg:text-xl
    bg-customPurple
    h-24 
    px-16 py-8;
}
.Header-text {
  @apply text-white flex-shrink-0 font-extrabold text-2xl font-semibold leading-tight whitespace-nowrap;
}

.Display-container {
  @apply flex flex-row items-center justify-around w-full;
}

.Nav-bar {
  flex: 0 0 10rem;
  font-size: 1rem;
}

{{/* .Content-area {
  flex: 1;
} */}}
